<!-- Navigation bar -->
  <div class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Journal</a>
    </div>
    <!-- Define the links -->
      <nav role="navigation" class="collapse navbar-collapse navbar-right">
        <ul class="navbar-nav nav">
          <li class="active"><a href="/pages/findRestaurants">Find Restaurants</a></li>
          <li class="dropdown">
            <a data-toggle="dropdown" href="#" class="dropdown-toggle">Pages<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/pages/favorites">Favorites</a></li>
              <li><a href="/pages/next">Next</a></li>
              <li><a href="/pages/dislike">Disliked</a></li>
              <li class="divider"></li>
              <li><a href="#">All Items</a></li>
            </ul>
          </li>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/signup">Sign Up</a></li>
            <li><a href="/auth/logout">Log Out</a></li>
        </ul>
      </nav>
    </div>
  </div>
<!-- End Navigation bar -->
