<nav class="navbar navbar-default">
  <div class="container"> -->
    <!-- Mobile stuff -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Journal</a>
    </div> -->
    <!-- Define the links -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <a href="/pages/favorites">Favorites</a>
        </li>
        <li>
          <a href="/pages/next">Next</a>
        </li>
        <li>
          <a href="/pages/neverAgain">Never Again</a>
        </li>
        <li>
          <a href="/pages/findRestaurants">Find Restaurants</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/auth/login">Login</a>
        </li>
        <li>
          <a href="/auth/signup">Sign Up</a>
        </li>
        <li>
          <a href="/auth/logout">Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
