<div class="homepage">
  <body>
    <h2 class="welcome">Welcome</h2>

    <img src="https://images.pexels.com/photos/568370/pexels-photo-568370.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb" id="front-page-img" alt="">
  </body>
</div>
