.col-xs-12 {
    width: 100%;
    text-align: center;
    font-family: 'Lane', sans-serif;
    font-weight: normal;
    font-size: 3rem;
    line-height: 3.5rem;
}

p {
  font-size: 1rem;
    line-height: 1.625em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

.results {
  position: relative;

}

.row::before, .row:after {
  display: table;
  clear: both;
}

/* img {
  max-width: 250px;
  max-height: 300px;
} */

.rest-image-result {
  max-width: 250px;
  max-height: 300px;
}

hr {
  max-width: 300px;
}

.navbar{
  background: #fff;
}
.navbar-brand {
    float: left;
    padding: 20px 28px;
    font-family: 'Courgette', cursive;
    font-size: 30px;
    line-height: 20px;
    background: transparent;
    color: darkkhaki;
}

.navbar-brand:hover, a:hover {
  color: #d1c979;
}

a, p, textarea, .restaurant-content-result {
    background: transparent;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: #808080;
}

.restaurant-content-result {
    background: transparent;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: #808080;
    font-size: initial;
    padding: 6px;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    padding-top: 50px;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 6px;
    margin-bottom: 10px;
}

/* #grid-system {
  display: run-in; */
  /* grid-template-columns: 200px 200px 200px;
  grid-template-rows: 300px 300px 300px;
  grid-template-areas:
    "header header header"
    "main main"
    "footer"; */
/* } */

#results-button1, #results-button2, #results-button3 {
  font-color:

}

.welcome{
    font-size: 140px;
    font-family: 'Courgette', cursive;
    z-index: 10;
    position: absolute;
    left: 300;
    top: 225;
    color: darkkhaki;
}

/* .homepage {
   background-image: url("https://images.pexels.com/photos/568370/pexels-photo-568370.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb");
   height: aut35
   width: auto;
} */


#front-page-img {
    /* padding-top: 110px; */
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    position: relative;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  #front-page-img {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}



.item-b{
    line-height: 21px;
}
.item-d {
  display: inline-flex;
}

.bubble {
    padding-top: 28px;
    max-width: 1000px;
    padding-left: 100px;
    padding-bottom: 20px;
    color: darkgrey;
}

.yelp-button{
  display: inline-block;
  padding: 0px 3px;
  margin-bottom: -6px;
  font-family: 'Courgette', cursive;
  font-size: 22px;
  /* font-weight: 400; */
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: darkkhaki;
}
.btn {
    display: inline-block;
    padding: 0px 3px;
    margin-bottom: -6px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.groupbtn {
  display: inline-flex;
}

.rmv-favorite{
padding-top: 31.25px;
}

.alert {
    padding: 0;
    border: 1px solid transparent;
    border-radius: 0;
    font-size: 10px;
    height: 35px;
    width: 50%;
}

.alert-success {
    color: #ddd8a1;
    display: unset;
    background-color: transparent;
}
.alert-danger {
    color: #a94442;
    background-color: transparent;
    display: unset;
}

#login-field {
    display: inline;
    width:42%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 40px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.input-lg {
    display: initial;
    width: 100%;
    height: 34px;
    padding: 6px 14px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
/* .input-lg:focus {
    outline: none;
} */

textarea.form-control {
    height: auto;
    width: auto;
    display: unset;
}

textarea {
    overflow: auto;
}

label {
    display: block;
    max-width: 100%;
    margin-bottom: -6px;
    font-weight: 700;
    font-size: 13px;
    font-family: 'Courgette', cursive;
}

.btn:hover {
    color: #3333337a;
    text-decoration: none;
}

btn-outline-light {
    font-size: 13px;
    color: darkkhaki;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 5px 0px 0px;
    font-size: 14px;
    text-align: right;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 0px 6px rgba(0,0,0,.175);
}

.dropdown-menu:hover {
  color: darkkhaki;
}

.active{
  color: darkkhaki;
}

.golden, input[type=password]  {
    display: initial;
    outline: none;
    width: 55%;
    height: 34px;
    padding: 6px 14px;
    font-size: 14px;
    line-height: 1.42857143;
    /* color: #555; */
    background-color: #fff;
    border-radius: 40px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    /* transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; */
    box-sizing: border-box;
    border: 2px solid #ddd8a1;
    background-position: 10px 10px;
    /* padding: 12px 20px 12px 40px; */
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-out;
}

.golden:focus, input[type=password]:focus {
    width: 80%;
    outline: none;
}

.bubble{
  padding-top: 28px;
  max-width: 1000px;
}
