.col-xs-12 {
    width: 100%;
    text-align: center;
    font-family: 'Lane', sans-serif;
    font-weight: normal;
    font-size: 3rem;
    line-height: 3.5rem;
}

p {
  font-size: 1rem;
    line-height: 1.625em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

.results {
  position: relative;

}

.row::before, .row:after {
  display: table;
  clear: both;
}
/* .content-main {
  .make-lg-column(8);
} */

img {
  max-width: 400px;
  max-height: 640px;
}
