<div class="container">
	<div class="homebanner">
  <h1 class="text-center">here is a list of favortes</h1>
  <p class="text-center">
   <!-- <a href="/">Return to all pokemon</a> -->
  </p>

</div>
    <div class="all-favorites">
    	<div class="favebg">
        <% user.contents.forEach(function(restaurant){ %>
      <div class="list">
        <div class="items">
          <h2><%= restaurant.restaurantname %></a></h2>
					<img src="<%=restaurant.restaurantimage%>" alt="farge">
		</form>
        </div>
      </div>
      <% }); %>
      </div>
    </div>


</div>


//user.contents.forEach reference in visual pages
